* {
    margin: 0 auto;
    padding: 0;
}
body {
    background-color: #111;
}
.max-width {
    max-width: 500px;
    width: 100%;
    padding: 10%;
    box-sizing: border-box;
    margin-top: 10%;
    background-color: #fff;
    box-shadow: 0 0 5px #fff;
    text-align: center;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
}

button {
    padding: 10px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    transition: all .5s;
    cursor: pointer;
    border-radius: 25px;
    outline-style: none;
}
button:hover {
    background-color: #a1c0d1;
}
.bg-green {
    background-color: #b2d1a1;
}
.bg-yellow {
    background-color: #a1cba1;
}
.bg-red {
    background-color: #d1a1a1;
}
footer {
    text-align: center;
    justify-content: center;
    position:absolute;
    bottom:0;
    width:100%;
    color: #d1a1a1;
}
a {
    color: #d1a1a1;
}
